<div class="container">
  <div id="bar-chart" class="chart">
    <p>Jumlah Ruang Kelas Sekolah Dasar (SD) Berdasarkan Kondisi Ruangan di Jawa Barat
    </p>
  </div>
  <div class="pie-container">
    <div class="pie-card-1">
      <p>Jumlah Kesenian Berdasarkan Status Kesenian dan Kabupaten/Kota di Jawa Barat
      </p>
      <div class="pie-card-2">
        <div id="pie-chart1" class="pie-chart"></div>
        <p>1</p>
      </div>
    </div>
    <div class="pie-card-3">
      <p>Jumlah Lulusan Pengembangan dan Kompetensi Berdasarkan Diklat Perurusan di Jawa Barat
      </p>
      <div class="pie-card-4">
        <div id="line-chart" class="line"></div>
      </div>
    </div>
  </div>
</div>
<div id="map" class="leaflet-map"></div>

